<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
</head>
<body>
<h2>List of cities</h2>

<table>
    <tr>
        <th th>Id</th>
        <th>Name</th>
        <td>${person.id}</td>
        <td>${person.name}</td>
        <!--p>Id: <input type="text" th:field="*{id}" /></p-->
    </tr>

    <tr th:each="person as person">
        <td>${person.id}</td>
        <td>${person.name}</td>
    </tr>

</table>

</body>
</html>
